<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header> 
    <a href="/pics/new">Add an image</a>

  </header>

  <h1>This is the layout</h1> 

  <%= yield %>

</body>
</html>
